{{#each posts as |post|}}



<h1> <small>{{post.title}}</small></h1>
  <div>
    <li>
    {{#if post.location}}
      {{post.location}}
    {{else}}
      No location provided.
    {{/if}}
  </li>
  </div>
  <div>
    <li>
    {{#if post.body}}
    {{post.body}}
    {{else}}
      No information provided.
  {{/if}}
</li>
</div>
<div class="content">
  <button type="button" data-id="{{post.id}}" class="btn btn-primary">Delete Post</button>
</div>
  {{/each}}

<!-- <ul>
  {{#each items}}
  <li>{{agree_button}}</li>
  {{/each}}
</ul> -->
