{{#each posts as |post|}}



<h1> <small>{{post.title}}</small></h1>
  <div>
    <li>
    {{#if post.location}}
      {{post.location}}
    {{else}}
      No location provided.
    {{/if}}
  </li>
  </div>
  <div>
    <li>
    {{#if post.body}}
    {{post.body}}
    {{else}}
      No information provided.
  {{/if}}
</li>
</div>

  <button type="button" data-id="{{post.id}}" class="deleteButton btn btn-primary">Delete Post</button>


<button type="submit" data-id="{{post.id}}" class="editButton btn btn-primary">Edit Post</button>



  {{/each}}
